<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    
    <label for="email">Email</label>
    <input type="email" placeholder="Email" [(ngModel)]="loginData.email" name="email" required />

    <label for="password">Password</label>
    <input type="password" placeholder="Password" [(ngModel)]="loginData.password" name="password" required />

    <label for="role">Select Role</label>
    <select [(ngModel)]="loginData.role" name="role" required>
      <option value="" disabled selected>Select Role</option>
      <option value="Admin">Admin</option>
      <option value="Teacher">Teacher</option>
      <option value="Student">Student</option>
    </select>

    <button type="submit" class="login-button">Login</button>
  </form>

  <div class="button-group">
    <button class="clear-button" (click)="clearForm()">Clear all</button>
    <button class="back-button" (click)="goBack()">Back</button>
  </div>
</div>
